<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="aubo_robot" params="aubo_type transmission_hw_interface">

<xacro:include filename="$(find aubo_description)/urdf/${aubo_type}.urdf.xacro" />

<joint name="ee_fixed_joint" type="fixed">
<parent link="wrist3_Link" />
<child link ="ee_link" />
<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi/2.0}" />
</joint>

<link name="ee_link">
<collision>
<geometry>
<box size="0.01 0.01 0.01"/>
</geometry>
<origin rpy="0 0 0" xyz="-0.01 0 0"/>
</collision>
</link>

<gazebo reference="base_link">
<selfCollide>false</selfCollide>
</gazebo>
<gazebo reference="shoulder_Link">
<selfCollide>false</selfCollide>
</gazebo>
<gazebo reference="upperArm_Link">
<selfCollide>false</selfCollide>
</gazebo>
<gazebo reference="foreArm_Link">
<selfCollide>false</selfCollide>
</gazebo>
<gazebo reference="wrist1_Link">
<selfCollide>false</selfCollide>
</gazebo>
<gazebo reference="wrist2_Link">
<selfCollide>false</selfCollide>
</gazebo>
<gazebo reference="wrist3_Link">
<selfCollide>false</selfCollide>
</gazebo>
<gazebo reference="ee_link">
<selfCollide>false</selfCollide>
</gazebo>

</xacro:macro>
</robot>